option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: manatal_code_challenge_django.wsgi:application
container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python app/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"